		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 05 September 2016 22:30:54
*/


body.squiz-rocks .site-search {
    background-color: yellow;
}

body.malta .site-search {
    background-color: blue;
}

body.mauritius .site-search {
    background-color: black;
}

